<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="PIMS_WEB_APP">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/PIMS_Business"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/PIMS_Core"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/WS-src"/>
        <property name="context-root" value="PIMS_WEB_APP"/>
        <property name="java-output-path" value="/PIMS_WEB_APP/bin"/>
    </wb-module>
</project-modules>
