<?xml version="1.0" encoding="UTF-8"?>
<!--<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">
        -->
 <taglib xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd" 
 version="2.0" 
 xmlns="http://java.sun.com/xml/ns/j2ee">


    <tlib-version>1.1</tlib-version>
    <short-name>securityTld</short-name>
	<uri>http://avanza.pims/security</uri>
  <tag>
    <name>menuSecurity</name>
    <tag-class>com.avanza.pims.web.tags.SecureMenuDisplayTag</tag-class>
    <body-content>JSP</body-content>
  </tag>     
  <tag>
        <name>security</name>
        <tag-class>com.avanza.pims.web.tags.SecurityTag</tag-class>
        <body-content>JSP</body-content>
        <attribute> 
            <name>screen</name>
            <required>true</required> 
            <rtexprvalue>true</rtexprvalue>
               <type>java.lang.String</type>
        </attribute>
        <attribute> 
            <name>action</name>
            <required>true</required> 
               <type>java.lang.String</type>
        </attribute>
    </tag>
</taglib>

