/*Header Images CSS defined here*/
.mandatory
{
color:red;
}
.checkBox
{
width:14px;
}
.HEADER_TD{
background-image: url("../images/ar/Detail/Grey Panel/Grey-Panel-right-1.jpg");
background-position: right;
height: 38px;
background-repeat: no-repeat;
width: 100%;
}
.HEADER_FONT{
font-family: Times New Roman;
font-weight: bold;
font-size: 24px;
margin-right: 15px;
top: 30px;
padding-left: 10px;
}
.INFO_FONT{
font-family: Trebuchet MS;
font-weight: regular;
font-size: 14px;
color: black;
PADDING-LEFT: 10px
}
.ERROR_FONT{
font-family: Trebuchet MS;
font-weight: regular;
font-size: 14px;
color: red;
PADDING-LEFT: 10px
}
.NUM_FIELD{
text-align: left;
width: 88px;  
height: 20px;
}
.NUM_CELL{
text-align: left;
}
/*Header Images CSS defined ends here*/
BODY {
	background-color: #f1f3f5;
}

.BUTTON_TD {
	text-align: left;
	padding:5px;
}
.TEXT_LABEL_TD {
	text-align: left;
}
TD {
	font-size: 14;
	
}

.LoginPage
{
	background-image: url("../images/back_rpt_img.jpg");
	background-repeat: repeat;
    width: inherit;
}

.LoginBody
{
	background-image: url("../images/pimsLogin_2.png");
	background-repeat: no-repeat;
    margin-top: 110px;
}

.LoginUserNameLabel
{
      position: absolute;
      margin-top: 182px;
      margin-left:282px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #000000;
}

.LoginPasswordLabel
{
      position: absolute;
      margin-top: 206px;
      margin-left:281px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #000000;
}
.LoginPasswordField
{
      position: absolute;
      margin-top: 205px;
      margin-left: 360px;
      width:180px; 
      height: 15px;
}

.LoginUserNameField
{
      position: absolute;
      margin-top: 180px;
      margin-left:360px;
      width:180px;
      height: 15px;
}

.LoginButtonLabel
{
position: absolute;
      margin-top: 240px;
      margin-left: 415px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #ffffff;
      cursor:pointer;
      text-decoration: none;
}
.LoginCancelButtonLabel
{
      position: absolute;
      margin-top: 241px;
      margin-left: 510px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #ffffff;
      cursor:pointer;
      text-decoration: none;
}

.divButtonStyle
{
      position: absolute;
      margin-top: -283px;
      margin-left: 377px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #ffffff;
      cursor:pointer;
      height: 16px;
      width: 88px;
      text-decoration: none;
}
.divCancelButtonStyle
{
      position: absolute;
      margin-top: -283px;
      margin-left: 469px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #ffffff;
      cursor:pointer;
      height: 17px;
      width: 89px;
}
.divHeaderLeft
{
      margin-top: 0px;
      margin-left: 0px;
}
.divHeaderCenter
{
      background-repeat: repeat;
      width:40%;  
      height: 59px;
}
.divHeaderRight
{
      position: absolute;
      background-image: url("../images/Top-Header-Right-1.jpg");
      margin-top: -500px;
      margin-right: 350px;
}
.divLeftMenuWithBody
{
	background-image: url("../images/back_rpt_img.jpg");
	background-repeat: repeat;
    width: 300px;
    overflow : auto;
    vertical-align: text-top;
} 
.expandImage
{
        position: relative;
        left: 145px;
        top:-90px;
}
.expandImage1
{
        position: relative;
        left: 125px;
        top:0px;
        text-align: auto;
}
.greyPanelLeft
{
        position: relative;
        left:-3px;
        top:-107px;
        text-align: auto;
}
.greyPanelCenter
{
        position: relative;
        left: -3px;
        top:-107px;
        width:299px;
        height:38px;
        text-align: auto;
}
.greyPanelRight
{
        position: relative;
        left: -5px;
        top:-107px;
        text-align: auto;
}
.greyPanelMiddleLeft
{
        position: relative;
        left: -831px;
        top:-108px;
        width:1px;
        height:400px;
        text-align: auto;
}
.greyPanelMiddleCenter
{
        left: -855px;
        top:-108px;
        width:100px;
        height:400px;
        text-align: auto;
}
.header
{
    background-image: url("../images/Top-Header-Center-1.jpg");
	background-repeat: repeat;
}
.header1
{
    background-image: url("../images/Black-Frame-Center-2.jpg");
	background-repeat: repeat;
}
.greyPanelTable 
{
    background-image: url("../images/Grey panel/Grey-Panel-Top-center2.jpg");
    width:99.2%;
    border : none;
}
.greyPanelMiddleTable
{
   vertical-align:top;
    background-color: #e2e2e2;
    border : none;
    margin-right:1px;
}
.divBackgroundBody
{
	background-image: url("../images/back_rpt_img.jpg");
	background-repeat: repeat;
    border : none;
} 

.footer
{
        font-size: 9px;
        font-family: Verdana;
        color: white;
        background-color: #212424;
        border : none;
}

.tt
{
	background-image: url("../images/Left Panel/top.jpg");
        text-align: left;
        background-repeat: no-repeat;
        height: 14px;
        border : none;
        
} 
.arabicLoginRadio
{
position: absolute;
  margin-top: 153px;
  margin-left:453px;
    
}

.englishLoginRadio
{
position: absolute;
  margin-top: 153px;
  margin-left: 363px;
    
}

.LoginButton
{
position: absolute;
      margin-top: 238px;
      margin-left: 384px;
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      font-weight: 200; 
      color: #ffffff;
      cursor:pointer;
}
.CancelButton
{
      position: absolute;
      margin-top: 240px;
      margin-left: 483px;
      cursor:pointer;
}
.BUTTON 
{
background-color:#F9A63C;
border-color:white;
color:#FFFFFF;
font-family:verdana;
font-size:11pt;
font-weight:bold;
height:21px;
text-align:center;
width: 75px;
-moz-border-radius:2px;
border-radius: 2em;
cursor: pointer;
}
.SCANNER_BUTTON 
{
background-color:#F9A63C;
border-color:white;
color:#FFFFFF;
font-family:verdana;
font-size:11pt;
font-weight:bold;
height:22px;
text-align:center;
width: 75px;
-moz-border-radius:2px;
border-radius: 2em;
cursor: pointer;
}
.LONG_BUTTON 
{
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	background-color: #f9a63c;
	border-bottom-width: 1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	border-left-color: #C4C4C4;
	border-top-color:#C4C4C4;
	border-right-color:3D3E43;
	border-bottom-color:3D3E43;	
	text-align: center;
	height: 18px;
	width: 210px;
}
.INPUT
{
	font-family: verdana;
	font-size: 10px;
	border-bottom-width: 1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	border-left-color: #C4C4C4;
	border-top-color:#C4C4C4;
	border-right-color:3D3E43;
	border-bottom-color:3D3E43;	
	height: 16px;
	width: 186px;
}


.filename_url{
cursor: pointer;
display:block;
text-align: right;
}

.filename_th{
text-align: right;
display:block;
}
.TEXTAREA
{
	height: 40px;
	width: 186px;
}
.DELETE_STYLE{
	width: 13px;
	height: 13px;
	display: block;
	cursor:pointer;
	background: url("../images/delete_icon.png") no-repeat;
#	background: none;
#	filter:progid:DXimageTransform.Microsoft.AlphaimageLoader(src='../images/delete_icon.png', sizingMethod='scale');
}

.notes_col{
vertical-align: top;
padding:5px;
padding-top:1px;
padding-bottom:1px;
}
.NOTES_DESC{
white-space: normal;
width: 300px;
}
.DETAIL_TABLE{
margin:10px;
width:95%;
}
.HEADER_ICONS{
border:0px none;
align:left;
width:100%;
}
.LOGIN_DATE{
margin-top:40px;
margin-right:30px;
font-size: 12px;
white-space: nowrap;
}
.DETAIL_SECTION{
width:100%;
border:1px solid #E48407;
border-top:0 none;
background-color: #f9a63c;
color: white;
font-weight: bold;
}
.DETAIL_SECTION_LABEL{
padding-top:5px;
padding-bottom:5px;
padding-left:7px;
padding-right:7px;
display:block;
}
.DETAIL_SECTION_INNER{
background-color: #C9C9C9;
border-top:1px solid #E48407;
width:100%;
}
.LABEL{
padding-left:4px;
}
.BODY_STYLE{
display:block;
overflow:hidden;

}
.DIV_PADDING{
padding-top:25px;
}
.SCROLLABLE_SECTION{
display:block;
overflow-y:auto;
height:450px;
position: relative;
}
.ALIGN_LEFT{
text-align:right;
white-space: nowrap;
}
.ALIGN_RIGHT{
text-align: left;
white-space: nowrap;
}
.ALIGN_RIGHT_NUM{
text-align:right;
white-space: nowrap;
}
div.SECTION_IMAGE
{
background: url("../images/search-bg_ar.jpg");
background-repeat: no-repeat;
width:179px;
height:26px;
}
.LIST_SECTION_LABEL{
font-family:verdana;
font-size:12px;
font-weight:bold;
padding-right:15px;
padding-top:10px;
display: block;
}
.MARGIN{
	margin:10px;
}
.SCROLLABLE_SECTION_POPUP{
display:block;
overflow-y:scroll;
height:79%;

}

.ADD_VIOLATION_BUTTON{

margin-right:10px;

}
.AUCTION_SCH_RF{
text-align: left;
width: 100%;
}
.AUC_DET_PAD{
padding-right: 10px;
width: 98%;
}
.AUC_DET_TAB_PR{
margin-left: 5px;
}
.AUC_DET_TAB_PL{
margin-right: 9px;
}
div.imag
{
background: url("../images/search_bg_ar.jpg");
background-repeat: no-repeat;
width:179px;
height:26px;
padding-right: 4px;
}
.RECORD_NUM_TD{
text-align: right;
padding:4px;
padding-bottom: 3px;
padding-right: 3px;
color: gray;
font-weight:bold;
font-size: x-small;
}
.PAGE_NUM{
padding-right: 3px;
padding-left: 4px;
float: right;
padding-bottom: 3px;
color: gray;
font-weight:bold;
padding-top: 4px;
font-size: x-small;
}
.A_RIGHT_NUM{
text-align:right;
padding-right:2px;
white-space: nowrap;
display:block;
}
.A_RIGHT_NUM_READONLY{
background-color: #dddddd;
text-align:right;
padding-right:2px;
white-space: nowrap;
display:block;
}
.A_LEFT{
text-align:right;
white-space: nowrap;
padding-right:4px;
width:100%;
display:block;
}
.A_LEFT_DOUBLE
{
text-align:right;
padding-left:2px;
}

.A_RIGHT{
text-align: left;
padding-left:4px;
width:99%;
display:block;
}
.RECORD_NUM_BG{
background: url("../images/paging-tab.png") no-repeat;
background-position: right;
padding-left: 6px;
margin-right: 4px;
}
.PAGE_NUM_BG{
display: block;
background: url("../images/paging_tab_number.png") no-repeat;
background-position: right;
padding-left: 6px;
width: 40%;
#width: 40%;
height: 20px;
float: right;
text-align: right;
}
.PAGE_NUM_BG{
display: table-cell;
background: url("../images/paging_tab_number.png") no-repeat;
background-position: right;
padding-left: 6px;
align: right;
}
.PAGE_NUM_BG_TABLE{
align: right;
}
.AUC_SCH_SS{
height: 446px;
#height: 466px;
}
.MENU_TOP_PART{
	background: url("../images/Panel/btn_top.png") no-repeat;
#	background: none;
#	filter:progid:DXimageTransform.Microsoft.AlphaimageLoader(src='../resources/images/Panel/btn_top.png', sizingMethod='image');
}
.MENU_BOTTOM_PART{
	width:100%;
	height:14px;
	background: url("../images/Panel/btn_bottom.png") no-repeat;
#	background: none;
#	filter:progid:DXimageTransform.Microsoft.AlphaimageLoader(src='../resources/images/Panel/btn_bottom.png', sizingMethod='image');
}
.MENU_TOP_SCROLL{
	width:100%;
	height:22px;
	cursor:pointer;
	background: url("../images/Panel/scroll_top.png") no-repeat;
#	background: none;
#	filter:progid:DXimageTransform.Microsoft.AlphaimageLoader(src='../resources/images/Panel/scroll_top.png', sizingMethod='image');
}
.MENU_BOTTOM_SCROLL{
	width:100%;
	height:22px;
	cursor:pointer;
	background: url("../images/Panel/scroll_bottom.png") no-repeat;
#	background: none;
#	filter:progid:DXimageTransform.Microsoft.AlphaimageLoader(src='../resources/images/Panel/scroll_bottom.png', sizingMethod='image');
}
.AUC_SCH_SCROLLER{
padding-right: 270px;
}
.JUG_BUTTON_TD{
padding-right: 615px;
#padding-right: 0px;
}
.AUC_OP_JUG_BUTTON_TD{
padding-right: 111px;
#padding-right: 0px;
}
.AUC_DEP_JUG_BUTTON_TD{
padding-right: 510px;
#padding-right: 0px;
}
.JUG_BUTTON_TD_AV{
padding-right: 490px;
#padding-right: 0px;
}
.JUG_BUTTON_TD_US{
padding-right: 537px;
#padding-right: 0px;
}
.ICON_BUTTON{
width: 17px;
height: 18px;
border: none;
}
.DET_SEC_TD{
PADDING: 5px;
PADDING-TOP: 5px;
PADDING-BOTTOM: 0px;
}
.SCH_SCROLLER{
font-size:8px;
text-align:right;
padding-left:270px;
#padding-left:700px;
}
.READONLY{
background-color: #dddddd;
}
.LABEL_ALIGN{
text-align: left;
align: left;
}
.A_LEFT_GRID{
padding-right:5px;
}
.TransferContracttxtAddress1{
padding-right:20px; 
white-space:nowrap;
}
.TransferContracttxtAddress2{
padding-right:14px; 
white-space:nowrap;
}
.TransferContracttxtEmail{
padding-right:30px;
white-space:nowrap;	
}
.TransferContracttxtPhone{
padding-right:52px;
white-space:nowrap;	
}
.TransferContracttxtNewTenantName{
padding-right:44px;
white-space:nowrap;	
}
.TransferContracttransferContractForm{
width:100%;

}
.TransferContractSCROLLABLE_SECTION{
height:465px;	
}
.TransferContractDETAIL_SECTION{
width:76.7%; #width:76.7%;
}
.AUC_ADD_PUB_DATE{
padding-right:51px;
white-space:nowrap;
}
.AUC_ADD_REG_SDATE{
padding-right:4px;
white-space:nowrap;
}
.AUC_ADD_REG_EDATE{
padding-right:1px;
white-space:nowrap;
}
.layoutTable{
padding-rigth:10px;
}
.RADIO_SUB{
padding-right:45px;
}
.UPLOAD_BUTTON_PANEL{
padding-top: 10px;
padding-right: 322px;
}
.ADDNOTE_BUTTON_PANEL{
padding-top: 10px;
padding-right: 300px;
}
.RECORD_NUM_BG_ATT{
background: url("../images/paging-tab-1.png") no-repeat;
background-position: right;
padding-left: 6px;
margin-right: 4px;
display: block;
}
.JUG_SCROLLER{
padding-right: 460px;
#padding-right: 0px;
}
.JUG_NUM_REC_ATT{
padding-left:200px;
#padding-left:0px;
}
.REG_AUC_SEL_LAB{
padding-left:18px;
}
.rich-spinner-buttons{
background-color:#F9A63C;
color:#F9A63C;
height: 10px;
width: 10px;
     
}
.rich-spinner-button{
background-color:#F9A63C;
font-size:8px;
height: 8.1px;
width: 15px;

}
.rich-spinner-input{
text-align:left;
}
.TAB_PANEL_MARGIN{
margin-right:10px;
}
.containerDiv
{
    width:1024px;
    
}
.disablingDiv 

 { 

        display: none;
     z-index:1001; 
     position:  absolute;  
     top: 0%;  
     left: 0%;  
     width: 100%;  
     height: 100%;  
     background-color: black;  
     opacity:.1;  
     filter: alpha(opacity=10);  
     overflow: hidden;
     padding :0;
     margin:0;   
    
 }

.APPLICANT_DETAILS_INPUT
{
 width:78%; 
}
.TAB_DETAIL_SECTION
{
}
.TAB_DETAIL_SECTION_INNER
{
}
.INPUT_TEXT
{
	height: 16px;
	width: 186px;
}
.INPUT_TEXT_DOUBLE
{
	height: 16px;
	width: 165px;
}
.INPUT_TEXT_AREA
{
	height: 16px;
	width: 186px;
}
.SELECT_MENU
{
	height: 24px;
	width: 192px;
}
.JUG_BUTTON_TD_AUC_POP{
padding-right: 485px;
#padding-right: 0px;
}
.JUG_SCROLLER_AUC_REG{
padding-right: 635px;
#padding-right: 0px;
}
.JUG_BUTTON_TD_AUC_SCH{
padding-right: 570px;
#padding-right: 0px;
}
.MESSAGE{
padding-right: 10px;
}
.ATTACH_1{
padding-right:14px;
padding-left:5px;
margin-left:8px;
}
.ATTACH_2{
padding-left:5px;
margin-left:0px;
margin-right:27px;
padding-right:5px;
}
.ATTACH_3{
margin-left:30px;
}
.ATTACH_4{
margin-right:111px;
}
.INSP_UNIT_DT{
width: 98.1%; 
}
.DELETE_ICON{
background-image: url("../images/delete.gif");
}
.ACTION_COLUMN{
text-align:right;	
}
.PROJ_FU_LABEL1{
padding-right: 15px;
}
.TEXT_DATA
{
      font-size:12px;
      font-family: sans-serif;
      font-weight: normal;
      color: #000000;
      text-align: right;
}
.portlet_div {
	width: 98%;		/* table width will be 98% of this*/
	overflow-y: yes;
	overflow-x:hidden;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	border-left: 4px solid #f9a63c;
	border-right: 4px solid #f9a63c;
	border-top: 4px solid #f9a63c;
	border-bottom: 4px solid #f9a63c; 
	background-color: #F9F9F9
	
}
				
.portlet_detail_section{
background-color: #C9C9C9;
border-top:1px solid #E48407;
}


div.portlet_div{
	height:95px;		
	width: 98%;		/* table width will be 98% of this*/
	overflow: auto;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	border-left: 4px solid #f9a63c;
	border-right: 4px solid #f9a63c;
	border-top: 4px solid #f9a63c;
	border-bottom: 4px solid #f9a63c; 
	overflow-x:hidden;
	overflow-y:yes

	}
	div.portlet_divFooter{
	width: 99%;		/* table width will be 99% of this*/
	background-color:#f9a63c;
	margin-left: 0px;
	margin-right: 4px;
	overflow-x:hidden;
	overflow-y:yes
	border: 0px solid #f9a63c;
	text-align: right;
	
	}



.portlet_div table thead tr th {
	border-left-width: 1px;
	border-right-width: 1px;
	background: url("../images/grid-label-bg.jpg");
	border-color:transparent;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	color: #FFFFFF;
	height: 13px;
	background-repeat: repeat-x;
	background-color: #696969;
	height:20px;
}

.portlet_div table thead tr th a {
	

	border-collapse: collapse;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	height: 13px;
	background-repeat: repeat;
}


.portlet_div tbody tr td {

	border: 1px solid;
	border-collapse: collapse;
	background-color: #00000;
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #00000;
}

.portlet_div table {
	border-width: 1px solid;
	border-spacing: ;
	border-style: none;
	border-color: #fffff;
	border-collapse: collapse;
	background-color: #e3e3e3;
}
.GROUP_LABEL
{
	
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: white;
	PADDING-LEFT: 10px
}
.BLACK_HEADER_FIRST_COLUMN{
width:1%;

}
.BLACK_HEADER_SECOND_COLUMN{
width:90%;
text-align: center;
}
.BLACK_HEADER_THIRD_COLUMN{
width:9%;
text-align: left;


}

.ALERT_DIV_ENABLE {
	display: block;
	z-index: 1200 ;
	position: absolute;
	right:-163px;
 	top:29px;
 
	background-color: white;
}
.ALERT_DIV_UPARROW
{
position:absolute;top:-12px; right:180px;
}

.ALERT_DIV_DISABLE {
	display: none;
	z-index: 0;
	position: absolute;
	cursor:pointer;
}
.ALERT_BADGE_HIDDEN
{
	display:none;
	position: absolute;
}
.ALERT_BADGE
{
	display:block;
	position: absolute;
	min-width: 14px;
	font-size: 12px;
    font-weight: bold;
	color:red;
    text-align: center;
    padding: 0 4px;
    top: -5px;
    left: 50%;
    height: 18px;
    line-height: 14px;
    background-color: white;
    border: 1px solid #283e4a;
    border-radius: 14px;
    z-index: 1;
    cursor:pointer;
}