<?xml version="1.0" encoding="UTF-8"?>

.rich-calendar-exterior{
	border : 1px solid;
}
.rich-calendar-btn{
	
	cursor : pointer;
}
.rich-calendar-header-optional{
	border-bottom-color: blue;
	border-bottom : 1px solid;
	padding : 7px;
	height : 22px;
	font-weight: bold;
}

.rich-calendar-header{
	background-color: #F9A63C;
	border-bottom:1px solid #737373;
}

.rich-calendar-cell-size{
	width : 20px;
	height : 20px;
}

.rich-calendar-cell-div{
	overflow: hidden;
}

.rich-calendar-cell{
	padding : 0px;
	vertical-align : middle;
	text-align : center;
	background-color:white;
	font-size: 10px;
	font-family: verdana;
	color:#000063;
}

.rich-calendar-tool{
	vertical-align : middle;
	background-color: #F9A63C;
	color:white;
	font-weight: bolder;
	text-align : center;
	width : 20px;
	height : 22px;
	cursor: pointer;
}

.rich-calendar-month{
	vertical-align : middle;
	text-align : center;
	color:white;
	font-size: 10px;
	font-weight: bolder;
	height : 22px;
	white-space: nowrap;	
}

.rich-calendar-days{
	border-right-color: #ffccaa;
	background-color: white;
	padding-left:2px;
	padding-right:2px;
	border-right : 0px solid;
	vertical-align : middle;
	text-align : center;
	height : 22px;
	font-family: verdana;
	font-size:10px;
	color: #000063;
	font-weight: bolder;
}

.rich-calendar-week{
	border : 0px none;
	background-color: #AAAFAC;
	vertical-align : middle;
	text-align : center;
	width : 25px;
	padding-left:2px;
	padding-right:2px;
}

.rich-right-cell{
	border-right: 0 none;
}

.rich-bottom-cell{
	border-bottom : 0px;
	background-color: #aaafac;
	border-bottom-color: #ffccaa;
}

.rich-calendar-toolfooter{
	height : 22px;
	padding : 1px 2px 1px 1px;
}

.rich-calendar-footer-optional{
	background-color: #f0f0f0;
	padding : 7px;
	height : 22px;
	font-family: verdana;
	font-size: 11px;
	color:#000063;
}
.rich-calendar-footer{
	background-color: #f0f0f0;	
	font-family: verdana;
	font-size: 11px;
	color:#000063;
}

.rich-calendar-spinner-input {
	border: 0px;
	background-color: #aaafac;
	padding: 0px 0px 0px 3px;
	background: none transparent scroll repeat 0% 0%;
}

.rich-calendar-spinner-input-container {
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #aaafac;
	border: 1px solid;
}

.rich-calendar-spinner-buttons {
	border-width: 1px;
	border-style: solid;
	background-color: #aaafac;
	background-position: left top;
	background-repeat: repeat-x;
	font-size: 0px;
}
.rich-calendar-tool-close{
color:red;
}
.rich-calendar-popup{
border:1px solid #737373;
}
.rich-calendar-tool-btn{
cursor: pointer;
font-weight: bold;
}
.rich-calendar-editor-btn{
	background-color: #f9a63c;
	color:white;
	font-family: verdana;
	font-size: 10px;
	padding: 2px;
	font-weight: bold;
}
.rich-calendar-date-layout{
border:1px solid #737373;
cursor:pointer;
margin-top: -80px;

                 
}
.rich-calendar-editor-btn-over{
	color: red;
}
.rich-calendar-editor-btn-selected{
	color: #707070;
}
.rich-calendar-date-layout-ok,.rich-calendar-date-layout-cancel	{
	background-color: #707070;
	cursor:pointer;
	color:white;
	font-family: verdana;
	font-size: 10px;
	padding: 2px;
	font-weight: bold;
}
