body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt; 
}


.containerDiv
{
	overflow : visible;
    width:745px;
    
    
    
}
.SCROLLABLE_SECTION
{
	overflow : visible;
}
/* CSS Document */ /* datTable for styling only */
div.contentDiv{
	width: 99%;		/* table width will be 99% of this*/
	overflow: auto;

	}



.contentDiv table thead tr th {
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width:1px;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	color: #FFFFFF;
	height: 13px;
	background-repeat: repeat-x;
	height:20px;
}

.contentDiv table thead tr th a {
	

	border-collapse: collapse;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	height: 13px;
	background-repeat: repeat;
}
.row1 {
    background-color: #eee;
}
.row2 {
    background-color: #ddd;
}


.contentDiv tbody tr td {

	border: 1px solid;
	border-collapse: collapse;
	background-color: #00000;
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #00000;
}

.contentDiv table {
	border-width: 1px solid;
	border-spacing: ;
	border-style: none;
	border-color: #fffff;
	border-collapse: collapse;
	background-color: #e3e3e3;
}

body {
   background: #eee; 
}
.tabbedPaneHeader {
   vertical-align: top;
   text-align: left;
   padding: 2px 2px 0px 2px;
}
.tabbedPaneText {
   font-size: 1.0em;
   font-style: regular;
   padding: 3px;
   border: thin solid CornflowerBlue;
}
.tabbedPaneTextSelected {
   font-size: 1.0em;
   font-style: regular;
   padding: 3px;
   background: PowderBlue;
   border: thin solid CornflowerBlue;
}
.tabbedPane {
   vertical-align: top;
   text-align: left;
	padding: 10px;
}
.displayPanel {
   vertical-align: top;
   text-align: left;
	padding: 10px;
}
.tabbedPaneContent {
   width: 100%;
   height: 100%;
   font-style: italic;
   vertical-align: top;
   text-align: left;
   font-size: 1.2m;
}
.scroller{
padding-left: 700px;
}
.scrollerPopUp{
padding-left: 870px;
}