HTML
{
	direction: ltr;
	width:100%;
	height:100%;
}

TD
{
	FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Tahoma;
}

body {
	background-color: #9BA7B4;
	background-position: left top;
	padding: 0;
	margin: 0;
	width:100%;
	height:100%;
	display:block;
	overflow: hidden;
}
body > table{
width:100%;
height:100%;
}
body > table > tbody > tr + tr[width]{
height:100%;
#height:86%;
}
body > table > tbody > tr + tr[width] + tr > td > table{
position:absolute;
bottom:0px;
}



.FormButton
{
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/buttonbg.gif);
	border-left-color: #C4C4C4;
	border-top-color:#C4C4C4;
	border-right-color:3D3E43;
	border-bottom-color:3D3E43;	
	text-align: center;
	height: 18px;
	width: 75px;
}

input[type="radio"], input[type="checkbox"] 
{
width:15px;
}
input {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	color: #606060;
	height: 14px;
	width: 189px;
	border: 1px solid #a2a2a2;
}



select {
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #606060;
	border: 1px solid #A2A2A2;
	width: 193px;
	height: 23px;
}

a {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000066;
	text-decoration: underline;
}

a: visited {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}

IMG {
	border: 0;
}

TH{
	border: 0px solid black;
	padding:0px 0px 0pc 0px;
	cell-spacing:0px 0px 0px 0px;
	/*font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-image: url("../images/Grey-Header.gif");
	background-position: right top;
	background-repeat: repeat-x;
	border: 1px solid #003C72;
	height: 25px;
	padding-left: 5px;*/
}

td.SearchBoxButtons
{
	text-align: right;	
}

.required
{
	text-align: left;
	color: red;
}

.labels
{
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}

.LeftAligned
{
	text-align: left;
}

.RightAligned
{
	text-align: right;
}

.Radio {
	border: none;
}

.GridColumnHeader {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
/*	color: #ffffff;*/
	background-image: url(../images/headbg.gif);
	height: 25px;
}

.GridOddRow {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #DDDDDD;
	background-color: #E9EEF2;
}

.GridEvenRow {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #DDDDDD;
	background-color: #E8F3FE;
}

.GridOddRow1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	border: 0px solid #DDDDDD;
	background-color: #ffffff;
}

.GridEvenRow1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	border: 0px solid #DDDDDD;
	background-color: #efefef;
}

.GridOddRow2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #DEDEDE;
	background-color: #ffffff;
}

.GridEvenRow2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #DEDEDE;
	background-color: #ffffff;
}

.GridBox {
	border: 0px none #3B3B3B;
}

th.sortable a {
	background-image: url(../images/arrow_off.png);
	background-repeat: no-repeat;
	color: #ffffff;
	font-weight: bold;
}

th.sortable1 a {
	background-image: url(../images/arrow_off.png);
	background-repeat: no-repeat;
	color: black;
	font-weight: bold;
}

th.sortable2 a {
	background-image: url(../images/arrow_off.png);
	background-repeat: no-repeat;
	font-size:11px;
	font-family:tahoma;
	color: black;
	font-weight: bold;
}

th.order1 a {
	background-image: url(../images/downarrow.gif);
	background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../images/uparrow.gif);
	background-repeat: no-repeat;
}


th.order1-1 a {
	background-image: url(../images/arrow-grid-sortcolumn-sorted-down.gif);
	background-repeat: no-repeat;
}

th.order2-1 a {
	background-image: url(../images/arrow-grid-sortcolumn-sorted-up.gif);
	background-repeat: no-repeat;
}

th.sorted a {
	background-position: 95%;
	display: block;
	width: 100%;
	color: #ffffff;
}

th.sorted1 a {
	background-position: 95%;
	display: block;
	width: 100%;
	color: black;
}

.grid {
	width: 100%;
	font-family: "Verdana";
	text-align: left;
	font-size: 10px;
	color: #454545;
	border-top: 0px solid #275c8e;
	border-left: 0px solid #275c8e;
	border-right: 0px solid #275c8e;
	border-bottom: 0px solid #275c8e;
}

.MenuPanel
{
	background-color: #F3F3F3;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}

.FooterText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: oblique;
	
}

.SearchBox {
	background-color: #F3F3F3;
}

.SearchIcon {
	background-image: url(../images/searchimage.gif);
	background-repeat: no-repeat;
	height: 66px;
	width: 62px;
}

.PagingText
{
	font-family:Tahoma;
	font-size: 11;
	font-weight: normal;
	color: #000000;	
	vertical-align: baseline;

}

.PagingLinks
{
	font-family: Tahoma;
	font-size: 11;
	font-weight: normal;
	color: #3479BA;
	vertical-align: baseline;
}

.PageSelected
{
	font-family: Tahoma;
	font-size: 11;
	font-weight: normal;
	color: #1E466C;
	vertical-align: baseline;
}


.ParentMenuItem
{
	border-style: none;
	padding-left: 0px;
}

.MenuLink
{
	text-decoration: none;
	font-family: Helvetica,Arial;
	font-size: 11px;
	color: black;
}

.MenuExpander
{
	cursor: hand;
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
}

.checkBox
{
	border: none;
	vertical-align: middle;
	height: 15pt;
}

.EnglishInput
{
	text-align: left;
}

.ArabicInput
{
	text-align: right;
	direction: rtl;
}

.textBox{
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	color: #606060;
	height: 15pt;
	width: 150pt;
	border: 1px solid #A2A2A2;
	padding: 2px;
	vertical-align: middle;
}

.menuTextBox{
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #606060;
	height: 12pt;
	width: 100pt;
	border: 1px solid #A2A2A2;
	vertical-align: middle;
}
.menuCombo{
	font-family: Tahoma;
	font-size: 7pt;
	font-weight: normal;
	color: #606060;
	height: 10pt;
	border: 1px solid #A2A2A2;
	width: 80pt;
	vertical-align: middle;
}

.menuCombo1{
	font-family: Tahoma;
	font-size: 7pt;
	font-weight: normal;
	color: #606060;
	height: 10pt;
	border: 1px solid #A2A2A2;
	width: 110pt;
	vertical-align: middle;
}


.menuButton
{
	font-family: verdana;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/buttonbg.gif);
	border: 1px solid #003C72;
	text-align: center;
	height: 16px;
	vertical-align: middle;
}
textarea {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	color: #606060;
	border: 1px solid #A2A2A2;
	padding: 2px;
	vertical-align: middle;	
}


td.ArabicInGrid
{
	text-align: right;
}
.Message
{
	font-size: 10px;
	font-family: Verdana;
	text-align: left;
	color: green;
}

.clickable
{
	cursor: pointer;
}
.TABLE_LABEL{
width:70%;
}
.GRID_C1, GRID_C2{
width:25%;
padding-left:5px;
padding-right:5px;
}
.LEASE_CONTRACT_BASIC_INFO_GRID_C1{
width:20%;
text-align: left;

}
.LEASE_CONTRACT_BASIC_INFO_GRID_C2{
width:36%;

}
.LEASE_CONTRACT_BASIC_INFO_SPONSORMANGER_GRID_C1{
width:96%;

}
.LEASE_CONTRACT_BASIC_INFO_SPONSORMANGER_GRID_C2{
width:2%;

}
.APP_DETAIL_GRID_C1{
width:17%;
text-align: left;

}
.APP_DETAIL_GRID_C2{
width:34%;

}
.APP_DETAIL_GRID_C3{
width:17%;
text-align: left;

}
.APP_DETAIL_GRID_C4{
width:34%;

}
.APP_DETAIL_GRID_APPLICANT_TXTIMG_C1{
width:73%;
}
.APP_DETAIL_GRID_APPLICANT_TXTIMG_C2{
width:27%;
}

.APP_DETAIL_TWO_COL_C1 {
	width: 17%;
}

.APP_DETAIL_TWO_COL_C2 {
	width: 83%;
}
	
.MINOR_MAINTENANCE_FIELDS_GRID_C1{
width:20%;
text-align: left;

}
.MINOR_MAINTENANCE_FIELDS_GRID_C2{
width:30%;

}

