<?xml version="1.0" encoding="UTF-8"?>
.rich-spinner-buttons{
background-color:#F9A63C;
color:#F9A63C;
height: 10px;
width: 10px;
     
}
.rich-spinner-button{
background-color:#F9A63C;
font-size:8px;

height: 8.1px;
width: 15px;

}
.rich-spinner-input{
text-align:right;
}