/* CSS Document */ /* datTable for styling in firefox only */
div.contentDiv{
	width: 98%;		/* table width will be 98% of this*/
	overflow: auto;
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 4px;
	border-left: 4px solid #f9a63c;
	border-right: 4px solid #f9a63c;
	border-top: 4px solid #f9a63c;
	border-bottom: 4px solid #f9a63c; 

	}
	div.contentDivFooter{
	width: 99%;		/* table width will be 99% of this*/
	background-color:#f9a63c;
	margin-left: 0px;
	margin-right: 4px;
	overflow: auto;
	border: 0px solid #f9a63c;
	text-align: right;
	}

	.rightalign
	{
		float: right;
	}


.contentDiv table thead tr th {
	border-width: 1px;
	border-spacing: ;
	background: url("../../resources/images/grid-label-bg.jpg");
	border-collapse: collapse;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	height: 13px;
background-repeat: repeat-x;
	background-color: #696969;
	height:20px;
}

.contentDiv table thead tr th a {
	

	border-collapse: collapse;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	height: 13px;
	background-repeat: repeat;
}
.row1 {
    background-color: #eee;
}
.row2 {
    background-color: #ddd;
}


.contentDiv tbody tr td {

	border: 1px solid;
	border-collapse: collapse;
	background-color: #00000;
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #00000;
}

.contentDiv table {
	border-width: 1px solid;
	border-spacing: ;
	border-style: none;
	border-color: #fffff;
	border-collapse: collapse;
	background-color: #e3e3e3;
}

body {
   background: #eee; 
}
.tabbedPaneHeader {
   vertical-align: top;
   text-align: left;
   padding: 2px 2px 0px 2px;
}
.tabbedPaneText {
   font-size: 1.0em;
   font-style: regular;
   padding: 3px;
   border: thin solid CornflowerBlue;
}
.tabbedPaneTextSelected {
   font-size: 1.0em;
   font-style: regular;
   padding: 3px;
   background: PowderBlue;
   border: thin solid CornflowerBlue;
}
.tabbedPane {
   vertical-align: top;
   text-align: left;
	padding: 10px;
}
.displayPanel {
   vertical-align: top;
   text-align: left;
	padding: 10px;
}
.tabbedPaneContent {
   width: 100%;
   height: 100%;
   font-style: italic;
   vertical-align: top;
   text-align: left;
   font-size: 1.2m;
}
.scroller{
padding-left: 700px;
}
.scrollerPopUp{
padding-left: 870px;
}
