.rich-tabpanel{
	width:100%;
	background-color: #f9a63c;
	border: 1px solid #f9a63c;
	padding-left:3px;
	padding-right:3px;
	width:100%;
}
.dr-tbpnl-cntnt {
	vertical-align: top;
	border:0px none;
	background-color: #EEEEEE;
	border:1px solid gray;
	border-top: 0px none;
}

.dr-tbpnl-tbtopbrdr{
	border-top-width: 1px;
	border-top-style: solid;
	border-color: black;
}

.dr-tbpnl-tb{
	white-space:nowrap;
	padding : 2px 10px 2px 10px;
	text-align: center;
	background-image: url(../../resources/images/tab/tab_bg_normal.jpg);
	color:white;
	font-family: verdana;
	font-size:10px;
	font-weight: bold;
}
.dr-tbpnl-tbbrdr{
	background-repeat: no-repeat;
	background-position: top;
	border-color: black;
}

.dr-tbpnl-tb-act{
	padding : 3px 10px 4px 10px;
	background-image: url(../../resources/images/tab/tab_bg_normal.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom-width: 0px;
	cursor : default;
	border:0px none;
}

.dr-tbpnl-tb-dsbld {
	border-width: 1px;
	border-style: solid;
	background-repeat: repeat-x;
	background-position: top;
	cursor : default;	
}

.dr-tbpnl-tbcell-dsbld, .dr-tbpnl-tbcell-inact {
	padding-top: 2px; 
	
	
}
.dr-tbpnl-tb-sel {
	border-bottom : 0px;
	background-image: url(../../resources/images/tab/tab_bg_normal.jpg);
	background-repeat: repeat-x;
	background-position: top;
	cursor : default;
	border: 0px none;	
}

.dr-tbpnl-tb-dsbl {
	background-repeat: repeat-x;
	background-position: center top;
}
	
.dr-tbpnl-cntnt-pstn {
	height:100%;
}
.rich-tab-inactive{
cursor : pointer;

}
.rich-tab-active{
background-color: #EEEEEE;
background-image: none;
color: black;
border: 1px solid gray;
border-bottom:0 none;

}
.dr-bottom-line{
border:1px solid #F9A63C;
border-bottom:1px solid gray;
text-align: right;
}
.TAB_PANEL_INNER{
width:100%;
}
.TAB_PANEL_LEFT{
width:5px;
height:5px;
background-color: #f9a63c;
}
.TAB_PANEL_MID{
width:100%;
height:5px;
}
.TAB_PANEL_RIGHT{
width:5px;
height:5px;
background-color: #f9a63c;
}